<div class="container flex-column">
  <div class="title">
    <h1>Votre portefeuille</h1>
    <div class="total-wallet">Total investi : {{totalWalletValue | currency:'EUR'}}</div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Actifs">
      <ng-template matTabContent>
        <app-assets></app-assets>
      </ng-template>
    </mat-tab>
    <mat-tab label="Taxe boursière">Taxe boursière</mat-tab>
    <mat-tab label="Taxe plus-value">Taxe sur plus-value</mat-tab>
  </mat-tab-group>

</div>
