<div class="container flex-column">
  <div class="title">
    <h1>Votre portefeuille</h1>
    <div class="total-wallet">Total investi : {{totalWalletValue() | currency:'EUR'}}</div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Actifs">
      <ng-template matTabContent>
        <app-assets></app-assets>
      </ng-template>
    </mat-tab>
    <mat-tab label="Taxe boursière">
      <ng-template matTabContent>
          <app-assets-transactions-tax></app-assets-transactions-tax>
      </ng-template>
    </mat-tab>
    <mat-tab label="Taxe plus-value">
      <ng-template matTabContent>
        <app-capital-gains-tax></app-capital-gains-tax>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
