.container {
  border: 1px solid #dbd9d9;
  border-radius: 15px;
  padding: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-wallet {
  font-size: 20px;
  font-weight: bolder;
}



::ng-deep .mat-mdc-tab-body {
  height: 100% !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color:#66b4e2 !important;
  border-top-width: var(--mat-tab-active-indicator-height, 4px) !important;
}

