.container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question{
  font-weight:bold;
}

/***********************
      SELECT ASSET
 *********************$*/
.asset-type-group {
  display: flex;
  gap: 8px;
}

mat-chip-option {
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  background: #f2f2f2;
  font-size: 13px;
  transition: all 0.2s ease;
}

/* sélection */
mat-chip-option.mat-mdc-chip-selected {
  background: #3f51b5;
  color: white;
  font-weight: 600;
}

/* hover */
mat-chip-option:hover {
  background: #e0e0e0;
}

.asset-name-field {
  width: 100%;
}

.actions-btn {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin-top:15px;
  gap:15px;
}

.actions-btn .primary {
  background-color: #66b4e2;
  color: white;
}
.asset-search-field{
  width: 100%;
}

.symbol {
  font-weight: bold;
  margin-right: 8px;
}

.name {
  color: #666;
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  /* Pour s'assurer que le texte long ne casse pas la mise en page */
  display: flex;
  align-items: center;
}


.selected-asset-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #f8faff; /* Bleu très léger */
  border: 1px solid #e0e6ed;
  border-radius: 12px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.asset-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.asset-details {
  display: flex;
  flex-direction: column;
}

.display-symbol {
  font-size: 18px;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.2;
}

.display-name {
  font-size: 14px;
  color: #666;
}

.reset-btn {
  color: #999;
}

.placeholder-text {
  color: #aaa;
  font-style: italic;
  font-size: 13px;
  text-align: center;
  margin: 20px 0;
}

.mat-form-field-invalid .mat-mdc-text-field-wrapper {
  background-color: #fff8f8 !important; /* Teinte très légère de rouge */
}

/* Animation de secousse si tu veux vraiment que l'utilisateur le voie */
.asset-search-field.mat-form-field-invalid {
  animation: shake 0.4s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}
