<div class="container">
  <mat-dialog-content>
    <mat-stepper linear #stepper>
      <mat-step>
        <ng-template matStepLabel>Sélectionnez un actif</ng-template>
        <form class="asset-form" (ngSubmit)="onSave()">

          <p class="question">Sélectionnez votre type d'actif :</p>
          <mat-chip-listbox [formField]="assetForm.type" class="asset-type-group" aria-label="Asset type" (change)="onAssetTypeChange()">
            @for (assetType of Object.values(AssetType); track assetType) {
              <mat-chip-option [value]="assetType">
                {{ assetType }}
              </mat-chip-option>
            }
          </mat-chip-listbox>

          <p class="question">Recherchez votre instrument (Nom ou Symbole) :</p>
          <mat-form-field appearance="outline" class="asset-search-field"
                          [color]="searchControl.invalid && searchControl.touched ? 'warn' : 'primary'">
            <mat-label>Rechercher un instrument (ex: Apple, AAPL...)</mat-label>

            <input matInput
                   type="text"
                   [formControl]="searchControl"
                   [matAutocomplete]="auto" />

            <mat-icon matSuffix [color]="searchControl.invalid && searchControl.touched ? 'warn' : ''">search</mat-icon>

            @if (searchControl.invalid && searchControl.touched) {
              <mat-error>Vous devez sélectionner un actif dans la liste</mat-error>
            }
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="onAssetSelected($event)"
                              [displayWith]="displayFn">

              @for (instrument of (filteredInstruments$ | async); track instrument.id) {
                <mat-option [value]="instrument">
                  <span class="symbol">{{ instrument.symbol }}</span>
                  <span class="name"> - {{ instrument.name }}</span>
                  <span class="exchange"> - {{ 'exchanges.' + instrument.exchange | translate }}</span>
                  <span [class]="'currency ' + instrument.currency.toLowerCase()">{{ instrument.currency }}</span>
                </mat-option>
              } @empty {
                @if (searchTextLength > 1) {
                  <mat-option disabled>Aucun résultat trouvé</mat-option>
                }
              }
            </mat-autocomplete>
          </mat-form-field>

          @if (assetForm.symbol().value()) {
            <div class="selected-asset-card">
              <div class="asset-info">
                <span [class]="'asset-badge' + ' ' + 'asset-badge-' + assetModel().type.toLowerCase()">{{ assetModel().type }}</span>
                <div class="asset-details">
                  <span class="display-symbol">{{ assetForm.symbol().value() }}</span>
                  <span class="display-name">{{ assetForm.name().value() }}</span>
                </div>
              </div>

              <button mat-icon-button  type="button" class="reset-btn" (click)="resetAsset()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          } @else {
            <p class="placeholder-text">Recherchez un actif pour voir les détails...</p>
          }

          <div class="actions-btn">
            <button matButton (click)="onClose()">Annuler</button>
            <button matButton type="submit" class="primary">Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Taxation</ng-template>
        <form class="asset-form" (ngSubmit)="onSave()">
          <p class="question">Indiquez le taux de taxation pour la taxe boursière :</p>
          <mat-form-field appearance="outline">
            <input matInput  type="number" [formField]="assetForm.taxRatePercent"/>
          </mat-form-field> %

          <p class="question">La taxe boursière est directement prélevée par votre broker ?</p>
          <mat-radio-group aria-label="Tax collected by broker" [formField]="assetForm.taxCollectedByBroker">
            <mat-radio-button value="true">Oui</mat-radio-button>
            <mat-radio-button value="false">Non</mat-radio-button>
          </mat-radio-group>

          <div class="actions-btn">
            <button matButton (click)="onClose()">Annuler</button>
            <button matButton matStepperPrevious type="button">Précédent</button>
            <button matButton type="submit" class="primary">Suivant</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Ajoutez votre achat</ng-template>
        <form class="asset-form" (ngSubmit)="onSave()">
          <p class="question">A quelle date avez vous effectué cet achat ?</p>
          <mat-form-field appearance="outline" class="question-input">
            <mat-label>Date d'achat</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [formField]="transactionForm.date" /> <mat-hint>JJ/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <p class="question">Lors de cet achat, combien de parts avez-vous achetées ?</p>
          <mat-form-field appearance="outline" class="question-input">
            <mat-label>Quantité</mat-label>
            <input matInput type="number" [formField]="transactionForm.quantity" />
            <span matTextSuffix>Part(s)</span>
          </mat-form-field>

          <p class="question">Quel est le montant total de l'achat (hors frais du broker) ?</p>
          <mat-form-field appearance="outline" class="question-input">
            <mat-label>Prix</mat-label>
            <input matInput type="number" [formField]="transactionForm.price" />
            <span matTextSuffix>EUR</span>
          </mat-form-field>

          @if(showEnd2025Price()){
            <p class="question">Afin de calculer la taxe sur la plus-value, quelle était la valeur d'une part au 31/12/2025 ?</p>
            <mat-form-field appearance="outline" class="question-input">
              <mat-label>Prix</mat-label>
              <input matInput type="number" [formField]="assetForm.priceEnd2025" />
              <span matTextSuffix>EUR/Part</span>
            </mat-form-field>
          }

          <div class="actions-btn">
            <button matButton (click)="onClose()" type="button">Annuler</button>
            <button matButton matStepperPrevious type="button">Précédent</button>
            <button matButton type="submit" class="primary">Enregistrer</button>
          </div>
        </form>
      </mat-step>

    </mat-stepper>
  </mat-dialog-content>
</div>
