@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font: var(--mat-sys-body-medium);
}
/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

mat-list {
  --mat-list-list-item-label-text-size: var(--mat-sys-body-medium-size);
  --mat-list-list-item-container-height: 40px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.mat-mdc-select-panel {
  background-color: white !important;
}

.mat-mdc-text-field-wrapper {
  max-height: 40px !important;
  font-size: 12px !important;
}

.mat-mdc-form-field {
  max-height: 40px !important;
  font-size: 12px !important;
}

.mat-mdc-form-field-infix {
  padding: 8px !important;
  max-height: 40px !important;
  color: white !important;
}

.mat-mdc-floating-label {
  font-size: 12px !important;
  padding-bottom: 15px;
}

.mat-mdc-form-field-flex {
  height: 40px !important;
}

.mat-mdc-select-value {
  font-size: 12px !important;
}

.mdc-floating-label, .mat-mdc-option {
  font-size: 12px !important;
}

/* Input number hack */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
