version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: befintax-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/befintax
      SPRING_DATASOURCE_USERNAME: befintax
      SPRING_DATASOURCE_PASSWORD: ze3445dfSEEZ!ggk9
    depends_on:
      - frontend
    networks:
      - befintax-network

  frontend:
    build:
      context: ./frontend/angular
      dockerfile: Dockerfile
    container_name: befintax-frontend
    ports:
      - "4200:80"
    networks:
      - befintax-network

networks:
  befintax-network:
    external: true
