.container {
  width:80%;
  margin:30px auto;
  border: 1px solid #dbd9d9;
  border-radius: 15px;
  padding: 20px;
}

.global-actions-btn {
  display:flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.global-actions-btn .add-asset{
  background-color: #66b4e2;
  color: white;
  border: none;
  height:40px;
  border-radius:10px;
}

.asset-row, .asset-row td {
  border: none;
}

.asset-detail-row td{
  border-bottom: 1px solid #d4d3d3;
}

.asset-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
}

.asset-detail-wrapper-expanded {
  grid-template-rows: 1fr;
  height: auto;
  display:flex;
  gap: 15px;
}

tr.asset-detail-row {
  height: 0;
}

.label-asset-type {
  background-color: grey;
  color: white;
  border: none;
  border-radius:5px;
  text-align: center;
  padding: 3px 0;
}

.label-asset-type-ACTION {background-color: #449f64;}
.label-asset-type-ETF {background-color: #6272dd;}
.label-asset-type-CRYPTO {background-color: #c3853f;}
.label-asset-type-OBLIGATION {background-color: #b47ab7;}

.instrument {
  width: 30%;
  height:300px;
  background-color: #f1eeee;
}

.transactions-list {
  width: 70%;
}

.transactions-list-item {
  margin: 5px;
  font-size: 10px;
}
.transactions-list-item-BUY {
  border-left: 5px solid green;
}

.transactions-list-item-SELL {
  border-left: 5px solid red;
}
