.title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin: 20px;
}

mat-icon{
  width:60px;
}

.total-row {
  font-weight: bold;
  background-color: #f0f0f0;
}

mat-card {
  margin-top: 20px;
  padding:20px;
  box-shadow: none !important;
}

mat-card-title {
  font-weight: bold;
  font-size: 16px;
}

mat-expansion-panel{
  box-shadow: none !important;
}

mat-panel-title{
  font-size: 12px;
}

.title-description{
  display: flex;
  justify-content: space-between;
}

.tax-rate-summary {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.month-picker{
  margin-top: 20px;
  width:150px;
  padding-bottom:20px;
}
.month-picker-date .mat-calendar-period-button {
  pointer-events: none;
}

