.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Le Header Fixe */
.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Ombre pro */
  background: #ffffff;
  color: white;
  height:80px;
  padding-left:40px;
}

.spacer { flex: 1 1 auto; }

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
}
.toolbar-logo { height: 75px; }

/* Menu Desktop */
.desktop-menu { display: flex; gap: 10px; margin-right: 20px; }
.active-desktop {
  background: rgba(255,255,255,0.1);
  border-bottom: 2px solid #60a5fa; /* Soulignement bleu clair */
  border-radius: 4px 4px 0 0;
}

.btn-register { margin-left: 10px; font-weight: bold; }

/* Sidenav Mobile */
.sidenav { width: 280px; }
.sidenav-header {
  padding: 24px;
  background: #f1f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
}
.sidenav-logo { height: 60px; margin-bottom: 10px; }
.active-link { color: #3b82f6; background: #eff6ff; }

.auth-header-actions {
  display: flex;
  align-items: center;
  gap: 16px;

  .lang-selector {
    font-size: 0.85rem;
    font-weight: 500;
    color: #64748b;
    border-radius: 20px;

    mat-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
      margin-right: 4px;
    }
  }

  .btn-auth {
    background-color: #5890db; // Noir/Bleu nuit Apple
    color: white;
    border-radius: 24px; // Très arrondi
    padding: 8px 24px;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #1e293b;
      transform: translateY(-1px);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}

// Style du menu déroulant
::ng-deep .modern-menu {
  border-radius: 12px !important;
  margin-top: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

/* Contenu de la page */
.page-content {
  padding: 24px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 80vh;
}

.main-footer {
  background: #0f172a;
  color: #94a3b8;
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}
